<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/static/index.css" />
		<script defer src="/static/index.js"></script>

		<!-- using HTMX 2.0.3 -->
		<script defer src="/lib/htmx.min.js"></script>
		<title>{{.Title}}</title>
	</head>
	<body>
		<main class="container">
			<h1 class="mb-3">Welcome to Go + HTMX</h1>

			<form
				class="row mb-3"
				hx-post="/greet"
				hx-target="#greeting"
				hx-swap="innerHTML"
			>
				<input
					type="text"
					name="name"
					id="greet-input"
					placeholder="Enter a name...."
				/>
				<button type="submit">Greet</button>
			</form>
			<p id="greeting"></p>
		</main>
	</body>
</html>
